.gpt_addons_copy_markdown {
    color: #a6bcc6;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.gpt_addons_copy_markdown:hover {
    background: #3e8e41;
}
